<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h2>Tasks</h2>
  </div>

  <%= link_to "hello" ,new_task_path %>
  
  
  <%= link_to new_task_path, remote: true do %>
    <button class="btn">New</button>
  <% end %>

  <div class="col-md-2 col-md-offset-4">
    <%= link_to new_task_path, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="tasks"><%= render @tasks %></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1 " id="h1">click POst</div>  
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="h2">click GET</div>  
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="products"></div>  
</div>


<script type="text/javascript">
  $(document).ready(function(){ 
      $( "#h1" ).click(function() {
        alert("test") 
        $.ajax({
          type: "POST",
          url: "/products",
          data: { product: { name: "Filip", description: "whatever" } }
        }) 
      }); 
      $( "#h2" ).click(function() {
        alert("test22") 
        $.ajax({
          type: "GET",
          url: "/products",
          data: { product: { name: "22_Filip", description: "22_whatever"  }}
        }) 
      });      

   });    
</script>

